@model ConcertDB.DAL.Entities.Tickets


@{
    ViewData["Title"] = "Create";
}

<h1>Validar Ticket</h1>

<h4>Tickets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="EntranceGate" class="control-label"></label>
                @Html.DropDownList("EntranceGate", new List<SelectListItem>{
                    new SelectListItem{Text = "Norte", Value = "1"},
                    new SelectListItem{Text = "Sur", Value = "2"},
                    new SelectListItem{Text = "Oriental", Value = "3"},
                    new SelectListItem{Text = "Occidental", Value = "4"},
                })
                
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Validar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
